compileREADME.txt
*~
*.o
*.a
*.lo
*.so
*.la
*.Po
*.Plo
*.bak
sync
TBE
latex/
*.m4
missing
*.tex
*.Plo
ar-lib
bin/*
autom4te.cache/*
compile
config.log
config.status
install-sh
notes/
src/cfits
libtool
*.save
*#
Makefile
*/Makefile
*/*/Makefile
*/*/*/Makefile
src/fft/config/*
src/*/data/*

